<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1 class="text-center">ICESCRAPER</h1>
			<br>
			<div class="text-center">
				{{!--<img src="assets/img/burger.png" class="rounded mx-auto d-block" height="200" width="200" alt="Big Burger">--}}
			</div>
		</div>
	</div>

	<div class="row">
		{{#each stories}}
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{headline}}</h3>
						<a href={{link}}>Link to Story</a>
					</div>
					{{#each comments}}
					<div class="panel-body div-comment-body">
						<form action="/{{_id}}?_method=PUT" method="POST">
							<button type="submit">Delete</button>
							{{body}}
						</form>
					</div>
					{{/each}}
					<div class="panel-footer">
						<form class="create-update-form" action="/" method="POST">
							<div class="form-group">
								<textarea class="form-control" rows="3" name="comment-text" placeholder="Add Comment"></textarea>
							</div>
							<button type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>